<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>PreCord</title>

        <link rel="stylesheet" href="css/style.css" />
        <script>var exports = {};</script>
        <!-- <script src="js/jquery.js" defer></script> -->
    </head>
    <body>
        <div class="titleBar"></div>
        <div class="body-bg"></div>
        <div class="panel">
            <div class="panel-bg"></div>

            <div class="panel-content">
                <h1><img src="images/icon.png" style="vertical-align: middle; margin-right: 10px" width="35px" />PreCord</h1>
                <h2>SETUP</h2>
                <hr></hr>
                <a href="setId.html" panel-btn>Set Application ID</a>
                <h2>PRESENCES</h2>
                <hr></hr>
                <a href="rich.html" panel-btn>Add Presence</a>
                <a href="edit.html" panel-btn>Edit Presence</a>
                <a href="turn-on.html" panel-btn>Turn on Presence</a>
                <a href="select.html" panel-btn>Select Presence</a>
                <h2>OTHER</h2>
                <hr></hr>
                <a href="about-us.html" selected panel-btn>About Us</a>
                <a href="index.html" panel-btn>Home</a>
            </div>
        </div>

        <div class="other-side">
            <h2>PreCord was made by koki1019#1019. This Project was made for fun.<br>This project is open source so if you want to modify it just go to home page and click REDIRECT button</h2>
        </div>
    </body>
</html>
